    <footer>
        <article>
            <p>Projet réalisé par <a href="https://chloeconstan.github.io/Portfolio/"  target="_blank">Chlöe Constan</a></p>
            <p>Mon <a href="https://github.com/ChloeConstan"  target="_blank">Github</a></p>
            <p>© 2025 Mystikscope. Tous droits réservés.</p>

        </article>
    </footer>
</body>
</html>