<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mystikscope ✨</title>
    <link rel="stylesheet" href="style/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Quicksand:wght@300..700&display=swap" rel="stylesheet"> 
    <script src="/script.js" defer></script>
</head>
<body>
    <header>
        <h1>Mystikscope ✨</h1>
        <h2>Bienvenue, cher signe du Zodiaque !</h2>
        <p>Ici, découvre ton horoscope quotidien, ainsi que celui de la semaine.
        <br>
        Profite bien, c'est ton moment rien qu'à toi ⭐</p>
        <img src="img/milkyway.png" alt="violet milkyway with moon and stars">
    </header>