body {
    margin: 0;
    background-color: #1E1B2E;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    
}

header {
    padding: 16px 8px;
    text-align: center;  
    color: #6A4C93;
}

h1 {
    font-family: "Poiret One", sans-serif;
    letter-spacing: 2.5px;
    font-size: 30px;
    color: #C7A2D8;
    margin: 10px 0;

}

h2 {
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    color: #E0B3FF;
    margin-top: 20px;
}

p {
    font-weight: 500;
    color: #F2F0F7;
    margin: 10px 5px;
}

img {
    width: 100%;
    height: auto;
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;
}

