// Font color
$font-color-primary: #F2F0F7;
$font-color-secondary: #6A4C93;
$font-color-tertiary: #C7A2D8;
$font-color-quaternary: #E0B3FF;


// Background color
$backgound-color-primary: #1E1B2E;
$background-color-secondary: #80559f;
$background-color-button: #A06BC6;
$background-color-button-hover: #B889D0;

// outline color
$outline-color: #80559f;

// Font family
$font-family-primary: "Quicksand", sans-serif;
$font-family-secondary: "Poiret One", sans-serif;